.problem-details-main{
    min-height: calc(100vh - 100px);
    background-color: var(--bg);
    display: grid;
    justify-content: center;
    align-content: start;
    padding: 50px;
    color: var(--txt);
}
.problem-rect{
    width: 1520px;
    background-color: var(--blockbg);
    height: auto;
    color: var(--txt);
    padding: 30px;
    font-size: 20pt;
    margin-bottom: 30px;

}
.problem-heading{
    font-size: 30pt;
    text-align: center;
}
.resolve-problem-button{
    height: 50px;
    width: 400px;
    color: var(--blockbg);
    background-color: var(--txt);
    margin-top: 50px;
}