.reservations-heading-rect{
    width: 1520px;
    height: auto;
    background-color: var(--blockbg);
    color: var(--txt);
    padding: 30px;
    display: grid;
    margin-bottom: 30px;
}

.verify-buttion{
    color: var(--blockbg);
    background-color: var(--txt);
}