.users-page-main{
    background-color: var(--bg);
    color: var(--txt);
    min-height: calc(100vh - 100px);
    display: grid;
    align-content: start;
    justify-content: center ;
    padding: 50px;
}

.user-list-element{
    height: 100px;
    width: 1520px;
    background-color: var(--blockbg);
    margin-bottom: 30px;
    padding: 30px;
    font-size: 20pt;
}