.reservations-heading-rect {
    width           : 1520px;
    height          : auto;
    background-color: var(--blockbg);
    color           : var(--txt);
    padding         : 30px;
    display         : grid;
    margin-bottom   : 30px;
}

.verify-buttion {
    color           : var(--blockbg);
    background-color: var(--txt);
}

.event-filter-div {
    text-align   : center;
    margin-bottom: 10px;
    font-size    : 20pt;
}

.e-c-button-l {
    border-radius: 5px 0px 0px 5px;
    height       : 50px;
    width        : 200px;
}

.e-c-button-c {
    border-radius: 0px 0px 0px 0px;
    height       : 50px;
    width        : 200px;

}

.e-c-button-r {
    border-radius: 0px 5px 5px 0px;
    height       : 50px;
    width        : 200px;

}