.reservations-heading-rect{
    width: 1520px;
    height: auto;
    background-color: white;
    color: #47525e;
    padding: 30px;
    display: grid;
    margin-bottom: 30px;
}

.verify-buttion{
    color: white;
    background-color: #47525e;
}