.create-account-page-content{
    background-color: #e5e5e5;
    height: 848px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.create-account-rect{
    text-align: center;
    height: 800px;
    width: 800px;
    background-color: white;  
    color: #47525e;
}

.create-acc-input-label{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20pt;
  }

.input-create-account-button{
    height: 60px;
    border-radius: 5px;
    width: 200px; 
    background-color: #47525e;
    color: white;
    font-size: 30px;
  }

  .input-register{
    height: 50px;
    border-radius: 5px;
    width: 400px; 
    font-size: 30px;
  }

  .create-personal-h1{
      margin-top: 20px;
      color: #47525e;
  }