.header{
    position: fixed;
    z-index: 10;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100px;
    width: 100%;
  }
  .cap-margin{
    width: 1000px;
    font-size: 24pt;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100px;
    color: #47525E;
  }
  .logo{
    color: #ff0000;
    margin: 15px;
    text-decoration: none;
    font-size: 24pt;
  }
  .accountIcon{
    height: 60px;
    width: 60px;
    margin-top: 10px;
  }
  .header-main{
    height: 100px;
    
  }
  .user-logo-div{
    text-decoration: none;
    display: grid;
    justify-content: center;
    width: 300px;
  }