.filter-rect{
    background-color: white;
    color: #47525e;
    height: fit-content;
    margin-top: 30px;
    width: 1400px;
    padding: 15px;
}
.venues-main{
    background-color: #e5e5e5;
    height: 970px;
    display: grid;
    justify-content: center;
}
select.filter-rect{
    margin-top: 10px;
    margin-bottom: 10px;
}
.must-haves{
    display: grid;
    grid-template-columns: auto auto;
}
.event-date{
    margin-top: 10px;
    margin-bottom: 10px;
}
.venue-input-1{
    width:300px;
    height: 30px;
    margin-left: 20px;
    color: #47525e;
}
.venue-input-number{
    width: 60px;
    margin-left: 20px;
}
.venue-input-seat{
    color: #47525e;
    margin-left: 20px;
    margin-right: 10px;
}
.venue-input-date{
    color: #47525e;
    margin-right: 10px;
    margin-left: 10px;
}
.venue-input-musts{
    margin-right: 10px;
}