.customer-profile-main {
    background-color     : var(--bg);
    height               : calc(100vh - 170px);
    display              : grid;
    grid-template-columns: auto;
    justify-content      : center;
    align-content        : center;
}

.customer-profile-rect {
    width           : 1520px;
    background-color: var(--blockbg);
    color           : var(--txt);
    display         : grid;
    height          : fit-content;
}

.customer-pic-and-info {
    display              : grid;
    grid-template-columns: 50% 50%;
    column-gap           : 40px;
}

.customer-profile-image {
    height      : 250px;
    width       : 250px;
    margin      : 50px;
    justify-self: center;
}

.customer-pic-and-labels {
    display              : grid;
    grid-template-columns: auto;
    font-size            : 24pt;
}


.customer-info-fields {
    display              : grid;
    grid-template-columns: auto;
    justify-content      : start;
    align-content        : center;
    margin-top   : 70px;



}

.customer-profile-field-input {
    width    : 400px;
    height   : 35px;
    font-size: 22pt;
    margin   : 10px;
    color    : #47525e;

}

.customer-profile-field-label {
    height    : 35px;
    text-align: end;
    margin    : 10px;
}

.submit-customer-profile {
    height       : 50px;
    font-size    : 24pt;
    color        : var(--blockbg);
    border-radius: 5px;
    width        : 400px;
    justify-self : center;
}

.cust-password-change-field {
    color : var(--txt);
    height: 40px;
    width : 300px;

}

.cust-password-submit-button {
    background-color: var(--txt);
    color           : var(--blockbg);
    height          : 40px;
    width           : 150px;
    border-radius   : 5px;
}

.customer-password-change {
    display              : grid;
    grid-template-columns: auto auto auto auto;
    justify-content      : space-evenly;
}

.change-password-p {
    color      : var(--txt);
    font-size  : 32pt;
    margin     : 40px;
    margin-left: 100px;
}

.cust-prof-bottom-text {
    margin-top   : 40px;
    color        : var(--txt);
    font-size    : 16pt;
    margin-bottom: 5px;
    justify-self : center;
}

.delete-acc-link {
    margin-top   : 0px;
    margin-bottom: 40px;
    font-size    : 16pt;
    justify-self : center;
}