.guest-book-main{
    min-height: calc(100vh - 100px);
    background-color: #e5e5e5;
    display: grid;
    padding: 50px;
    justify-content: center;
    align-content: start;
    grid-template-columns: auto;
    color: #47525e;
}
.guest-listing{
    background-color: white;
    color: #47525e;
    height: 100px;
    width: 1520px;
    padding: 30px;
    font-size: 20pt;
    margin-bottom: 30px;
}
.guest-listing-button,
.delete-guest-button{
    background-color: #47525e;
    color: white;
    border-radius: 5px;
    margin-left: 30px;
}

.guest-listing-input{
    height: 40px;
    width: 300px;
    margin-right: 30px;
    color: #47525e;
}
