.guest-listing-button,
.delete-guest-button{
    background-color: var(--txt);
    color: var(--blockbg);
    border-radius: 5px;
    margin-left: 30px;
}

.guest-listing-input{
    height: 40px;
    width: 300px;
    margin-right: 30px;
    color: var(--txt);
}
