.home-page-content {
  background-image   : url("../../images/wallp5.jpg");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  height             : 600px;
  text-align         : center;
  align-items        : center;
}

.home{
  background-color: var(--bg);
}

.HP-heading {
  color    : black;
  font-size: 50px;
}

.HP-subheading {
  color    : black;
  font-size: 20px;
}

.new-event-button {
  background-color: #E63946;
  width           : 600px;
  color           : #ffffff;
  font-size       : 30px;
}

.HP-input {
  height      : 40px;
  width       : 200px;
  margin-left : 10px;
  margin-right: 10px;
}

.Explore-heading {
  text-align: center;
  color     : var(--txt);
}

.Explore-par {
  color    : var(--txt);
  font-size: 16pt;
}

.Explore-subheading {
  color    : var(--txt);
  font-size: 20pt;
}

.explore-grid {
  text-align           : center;
  display              : grid;
  grid-template-columns: auto auto auto;
  grid-column-gap      : 40px;
}

.explore-imgs {
  height: 250px;
}