.gallery-info-div {
    width                : 1520;
    padding              : 0px;
    display              : grid;
    grid-template-columns: auto auto;
    justify-self         : center;
    justify-content      : space-around;
    margin-bottom        : 20px;
}

.item-gallery-rect {
    background-color: var(--blockbg);
    width           : 950px;
    height          : 650px;
    justify-self    : start;
    margin-right    : 50px;
}

.item-info-div {
    width                : 520px;
    height               : 650px;
    padding              : 0px;
    display              : grid;
    grid-template-columns: auto;
    justify-self         : end;
}

.item-info-rect {
    background-color: var(--blockbg);
    width           : 520px;
    height          : auto;
    margin-bottom   : 50px;
    padding         : 20px;
    overflow        : auto;
}

.item-info-heading {
    font-size : 30px;
    text-align: center;
}

.item-description-p {
    font-size : 18pt;
    text-align: start;
}

.item-contact-rect {
    background-color: var(--blockbg);
    width           : 520px;
    height          : auto;
    font-size       : 20pt;
    padding         : 20px;
    display         : grid;
}

.contact-acc-info {
    padding-left: 70px ;
}

.contact-acc-pic {
    height: 130px;
    width : 130px;
}

.add-to-event-button {
    height          : 50px;
    width           : 300px;
    background-color: var(--txt);
    color           : var(--blockbg);
    justify-self    : center;
}

.each-slide>div {
    display            : flex;
    align-items        : center;
    justify-content    : center;
    background-size    : auto;
    background-position: center;
    background-repeat  : no-repeat;
    height             : 650px;
}

.write-review-div {
    background-color: var(--bg);
    color           : var(--txt);
    font-size       : 22pt;
    height          : 300px;
    width           : 1420px;
    justify-self    : center;
    border-color    : transparent;
}

.write-title-div {
    background-color: var(--bg);
    color           : var(--txt);
    font-size       : 22pt;
    height          : 50px;
    width           : 400px;
    border-color    : transparent;
    margin-right    : 15px;
}

.review-submit-button {
    justify-self    : end;
    height          : 50px;
    width           : 300px;
    background-color: var(--txt);
    color           : var(--blockbg);
    margin-top      : 50px;
}

.contact-acc-pic1 {
    height: 80px;
    width : 80px;

}

.reviewer-name {
    font-size  : 22pt;
    align-self : center;
    margin-left: 20px;
}

.item-review-text {
    background-color: var(--bg);
    color           : var(--txt);
    font-size       : 18pt;
}

.item-review-div {
    margin-bottom: 50px;
}

.reviewer-info {
    display              : grid;
    grid-template-columns: auto auto;
    justify-content      : start;
    margin-bottom        : 20px;
}

.item-review-heading {
    font-size    : 40pt;
    margin-bottom: 50px;
    text-align : center;
}

.catering-menu-item {
    font-size            : 16pt;
    display              : grid;
    grid-template-columns: auto auto;
    margin-bottom        : 10px;
    border-bottom-style  : solid;
    border-bottom-color  : var(--txt);
    border-width         : 1px;

}

.menu-item-left {
    justify-self: start;
}

.menu-item-right {
    justify-self: end;
    text-align  : end;
}