.new-event-main {
    background-color     : var(--bg);
    min-height           : calc(100vh - 100px);
    display              : grid;
    grid-template-columns: auto;
    justify-content      : center;
    align-content        : start;
    padding              : 50px;
}

.venue-choice-rect {
    width           : 1520px;
    height          : auto;
    background-color: var(--blockbg);
    color           : var(--txt);
}

.guest-choice-rect {
    width           : 1520px;
    height          : auto;
    background-color: var(--blockbg);
    color           : var(--txt);
    margin-top      : 30px;
}

.venue-choice-heading,
.guest-choice-heading {
    font-size: 16pt;
    margin   : 30px;
}

.add-button {
    font-size       : 40pt;
    background-color: var(--blockbg);
    border-color    : transparent;
    color           : var(--txt);
    margin-left     : 30px;
}

.new-guest-input {
    height     : 40px;
    width      : 300px;
    margin-left: 30px;
}

.new-guest-button {
    height          : 40px;
    width           : 100px;
    margin-left     : 30px;
    color           : var(--blockbg);
    background-color: var(--txt);
}

.guest-list-element {
    font-size: 20px;
    margin   : 30px;
}

.location-pic {
    max-height  : 200px;
    margin-right: 30px;
}

.venue-div {
    display              : grid;
    grid-template-columns: auto auto;
    font-size            : 20pt;
    justify-content      : start;
    padding              : 30px;
}


.venue-name-over {
    position        : relative;
    top             : -200px;
    background-color: rgb(0, 0, 0, 0.5);
    color           : var(--blockbg);
    margin-right    : 30px;
}


.select-guest {
    height: 40px;
    width : 300px;
    margin: 30px;
    color : var(--txt);
}