.business-profile-main{
    background-color: #e5e5e5;
    height:auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}
.business-profile-rect{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1520px;
    background-color: white;  
    color: #47525e;
    display: grid;
    height: fit-content;
}
.business-pic-and-info{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
}
.business-profile-image{
    height: 250px;
    width: 250px;
    margin: 50px;
    justify-self: center;
}
.business-pic-and-labels{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 24pt;
}
.business-profile-info-labels{
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    align-content: center;
}
.business-profile-info-fields{
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    align-content: center;


}
.business-profile-field-input{
    width: 400px;
    height: 35px;
    font-size: 22pt;
    margin: 10px;

}
.business-profile-field-label{
    height: 35px;
    text-align: end;
    margin: 10px;
}
.submit-business-profile{
    height: 50px;
    font-size: 24pt;
    background-color: #47525e;
    color: white;
    border-radius: 5px;
    width: 400px;
    justify-self: center;
}
.business-password-change-field{
    color: #47525e;
    height: 40px;
    width: 400px;

}
.business-password-submit-button{
    background-color: #47525e;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 5px;    
}
.business-password-change{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-evenly ;
}
.change-password-p{
    color: #47525e;
    font-size: 32pt;
    margin: 40px;
    margin-left: 100px;
}
.business-prof-bottom-text{
    margin-top: 40px;
    color: #47525e;
    font-size: 16pt;
    margin-bottom: 5px;
    justify-self: center;
}
.delete-acc-link{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 16pt;
    justify-self: center;
}
.business-info-labels{
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    align-content: center;
}
.business-info-fields{
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    align-content: center;
}
.business-info{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
    justify-content: start;
    margin-left: 50px;
}
.business-field-input{
    width: 400px;
    height: 35px;
    font-size: 22pt;
    margin: 10px;

}
.business-field-label{
    height: 35px;
    text-align: end;
    font-size: 24pt;
    margin: 10px;
}
.request-verification{
    height: 50px;
    font-size: 24pt;
    background-color: #47525e;
    color: white;
    border-radius: 5px;
    width: 400px;
    margin-left: 50px;
}
.business-info-heading{
    font-size: 28pt;
    margin: 40px;
}
.submit-business-info{
    margin-top: 30px;
    height: 50px;
    font-size: 24pt;
    background-color: #47525e;
    color: white;
    border-radius: 5px;
    width: 400px;
    justify-self: center;
    margin-bottom: 40px;
}
.images-rect{
    height: 200px;
    width: 1220px;
    background-color: #e5e5e5;
    display: flex;
    direction: ltr;
    justify-self: center;

}
.restaurant-pic{
    height: 160px;
    width: 100px;
    margin: 20px;
    background-color: cadetblue;
}
.rest-img-add-button{
    font-size: 50pt;
    color: #47525e;
    background-color: transparent;
    border-color: transparent;
}