.fields-main{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.fields-left,.fields-right{
    text-align: center;
}
.business-prof-bottom-text{
    text-align: center;
}