:root{
    --white: white;
}

.main{
    background-color: var(--bg);
    background: var(--bgimg);
    background-attachment: fixed;
    min-height: calc(100vh - 170px);
    display: grid;
    justify-items: center;
    align-content: start;
    padding: 50px;
    gap: 30px;
}

.block{
    background-color: var(--blockbg);
    color: var(--txt);
    width: 1520px;
    padding: 30px;
    font-size: 16pt;
}

.input{
    color: #47525e;
    min-width: 200px;
    height: 40px;
    margin: 5px;
}

.button{
    color: var(--blockbg);
    background-color: var(--txt);
    height: 50px;
    font-size: 20pt;
}