.contact-form-main {
    background-color     : #e5e5e5;
    height               : calc(100vh - 100px);
    display              : grid;
    grid-template-columns: auto;
    justify-content      : center;
    align-content        : center;
}

.contact-form-rect {
    height               : auto;
    width                : 1520px;
    background-color     : white;
    color                : #47525e;
    text-align           : center;
    display              : grid;
    grid-template-columns: auto;
    margin               : 50px;
}

.contact-form-heading {
    font-size   : 32pt;
    margin      : 30px;
    justify-self: center;

}

.select-problem-type {
    background-color: #e5e5e5;
    border-color    : #e5e5e5;
    height          : 40px;
    width           : 400px;
    justify-self    : start;
    margin-left     : 100px;
}

.problem-description-input {
    background-color: #e5e5e5;
    border-color    : transparent;
    height          : 400px;
    width           : 1320px;
    justify-self    : start;
    margin-top      : 30px;
    margin-left     : 100px;

}

.problem-concern-input {
    background-color: #e5e5e5;
    border-color    : transparent;
    height          : 50px;
    width           : 1320px;
    justify-self    : start;
    margin-top      : 30px;
    margin-left     : 100px;

}

.submit-problem-button {
    background-color: #47525e;
    font-size       : 28pt;
    border-radius   : 5px;
    width           : 200px;
    justify-self    : center;
    margin          : 30px;
    color           : white;

}