.signUp-page-content {
  background-color     : var(--bg);
  height               : auto;
  display              : grid;
  grid-template-columns: auto;
  justify-content      : center;
  align-content        : center;
  color                : var(--txt);
}

.signup-input-label {
  margin-top   : 30px;
  margin-bottom: 0;
  font-size    : 20pt;
}

.sign-up-rect {
  margin-top      : 50px;
  margin-bottom   : 50px;
  padding-bottom  : 50px;
  height          : auto;
  width           : 800px;
  background-color: var(--blockbg);
  text-align      : center;
}

.sign-up-h1 {
  font-size : 50px;
  margin-top: 30px;
}

.input-register {
  height       : 50px;
  border-radius: 5px;
  width        : 400px;
  font-size    : 30px;
  color        : #47525e;

}

.input-register-button {
  margin-top      : 50px;
  height          : 60px;
  border-radius   : 5px;
  width           : 200px;
  background-color: var(--txt);
  color           : var(--blockbg);
  font-size       : 30px;
}

.input-acctype-personal {
  margin-top                : 50px;
  height                    : 60px;
  border-radius             : 5px;
  width                     : 250px;
  background-color          : var(--bg);
  font-size                 : 30px;
  border-top-right-radius   : 0px;
  border-bottom-right-radius: 0px;

}

.input-acctype-business {
  margin-top               : 50px;
  height                   : 60px;
  border-radius            : 5px;
  width                    : 250px;
  background-color         : var(--bg);
  font-size                : 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius   : 0px;
}

.register-text-button {
  color: var(--txt);
}

.passwords-dont-match {
  color: red;
}